@import url("./tokens.css");
@import url("./semantic.css");
/*@import url("./base.css");*/


@theme {
    --color-brand: var(--semantic-brand);
    --color-brand-hover: var(--semantic-brand-hover);
    --color-brand-soft: var(--semantic-primary-200);
    --color-background: var(--semantic-primary-50);
    --color-surface: var(--white);
    --color-surface-muted: var(--semantic-gray-200);
    --color-text-primary: var(--semantic-gray-900); 
    --color-text-secundary: var(--semantic-gray-700); 
    --color-text-muted: var(--semantic-gray-500); 
    --color-text-inverse: var(--semantic-gray-50); 
    --color-border: var(--semantic-primary-800); 
    --color-border-strong: var(--semantic-primary-950);
    --color-warning: var(--semantic-secundary-800); /* */
    --text-caption: var(--semantic-xxxs);
}



@import "tailwindcss"; /* Esta linea debe quedar al final para que funcione*/