

/* Son roles de la interfaz */

:root {

    /*========== BRAND ==========*/

    --semantic-brand: var(--color-primary-300);
    --semantic-brand-hover: var(--color-primary-900);/* Generalmente es de un tono mas alto que el brand */
    --semantic-brand-soft: var(--color-primary-200);

    /*========== BACKGROUND ==========*/

    --semantic-background: var(--color-primary-50); /* Fondo de toda la aplicacion */
    --semantic-surface: var(--white); /* Fondo de modales, cards, containers */
    --semantic-surface-muted: var(--color-gray-200); /* Zonas secundarias, con menos importancia */

    /*========== TEXT ==========*/   

    --semantic-text-primary: var(--color-gray-900); /* Color principal de lectura, títulos, texto base del documento */
    --semantic-text-secundary: var(--color-gray-700); /* Textos menos dominantes */
    --semantic-text-muted: var(--color-gray-500); /* Texto deshabilitado por ejemplo */
    --semantic-text-inverse: var(--color-gray-50); /* Texto invertido */

    /*========== BORDER ==========*/

    --semantic-border: var(--color-primary-800); /* Borde principal de todos los componentes */
    --semantic-border-strong: var(--color-primary-950); /* Bordes mas fuertes */

    /*========== STATE ==========*/

    --semantic-warning: var(--color-secundary-800); /* */
    --semantic-xxxs: var(--fs-xxxs);

    /*=======================================

        YA NO DEPENDEMOS DE NOMBRES DE COLOR, 
             DEPENDEMOS DE LA INTECIÓN 

    =======================================*/


}